:root {
  --corPrimaria: #4b0082;
  --cor-primaria-fundo: #2e0854;
  --cor-primaria-clara: #6a0dad;
  --cor-primaria-fundo-hover: #7b1fa2;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--cor-primaria-fundo); /* Roxo escuro */
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

div {
  & h2 {
    background-color: var(--corPrimaria);
    padding: 20px;
  }
}

.pintarFundo {
  background-color: var(--cor-primaria-clara);
}

.claro {
  color: whitesmoke;

  &:hover {
    color: whitesmoke;
  }
}

.margemCima {
  margin: 20px 0;
}

.pintaBtn {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cor-primaria-clara);
  padding: 10px 15px;
  border-radius: 5px;

  &:hover {
    background-color: var(--cor-primaria-fundo-hover);
    color: whitesmoke;
  }
}

main {
  padding: 20px;
  flex: 1;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  margin-top: 30px;
  padding: 15px;
  background-color: var(--corPrimaria);
}
